[Desktop Entry]
Name=CyberKDE
Comment=Neo-military window decoration with 45° chamfers
Comment[pt_BR]=Decoração de janelas neomilitar, com chanfros a 45°
X-KDE-PluginInfo-Name=CyberKDE
X-KDE-PluginInfo-Author=Rafael Neves
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Website=https://github.com/jrcn1991/theme-cyberkde
